<h3>
  {{ MODULE }} {{ currentModuleId }}: {{ currentModule.title}}
</h3>
<h4>
  <strong> {{ TASK }} {{ currentTaskId }}: </strong>{{ currentTask.title }}
</h4>
<p> <strong>{{ currentTask.description }} </strong></p>
<p>{{ ARTICLES_DESC }}</p>
<div *ngFor="let item of currentTask.contentLinks">
  <a href="item.url">
  {{ item.title }}
  </a>
</div>
<p><strong>{{ QUESTION }}:</strong></p>
<p>{{ currentTask.question }}</p>
<p><strong>{{ ANSWER }}:</strong></p>
<input type="text">
<input type="submit">


